html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
#mainContainer {
  height: 100%;
}
#BG {
  background-image: url(BG.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
height: 95vh;
}

#bottomBar {
}

#HERO {
  font-size: calc(3.5rem + 1.5vw);
  font-style: bold;
}

#SECOND {
  font-size: larger;
}

#THIRD {
  font-size: medium;
}
#bottomNavBar {

}